<html>

   <head>
      <title>FACULTIES</title>
   </head>
  
  <table width = "100%" height="10%" border = "10">       
<tr>
<td colspan = "2" bgcolor = "#b5dcb3">
<h1><div style="float:left"><img src="../../resources/images/logo/logo (1).png" width = "100%"></div>
<div style="float:right">R. K. S. SR. SEC. SCHOOL, MUZAFFARPUR</div><br/>
<div style= "float:right" color="red"><tt><i>नास्ति विद्या समं चक्षु नास्ति सत्य समं तप:</i></tt><br/>
</div>
<script type="text/javascript">
<!--
function Redirect() {
window.location="../../index.html";
            }
//-->
</script> 
  
<form>
<input type="button" value="Home" onclick="Redirect();" />
 </form>
</h1>
</td>
</tr>
</table>
<br/>

<table width = "100%" border = "10">       
<tr>
<td colspan = "2" bgcolor = "#b5dcb3">
  <table border = "1" "width = "600" height = "150" bgcolor="aqua" >
       <thead>
            <tr>
               <td colspan = "2"><center><b><i>Faculty Details</i></b></td></center>
            </tr>
         </thead>
         <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Ram Kaleshwar Sahani</b> <br/>
			(Mathematics)<br/>
			M.Sc., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         
         <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Kumari Vibha Verma</b> <br/>
			(Social Science)<br/>
			M.A., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Mohan Kumar</b> <br/>
			(Chemistry)<br/>
			M.Sc., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Rakesh Kumar</b> <br/>
			(Biology)<br/>
			M.Sc., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Rajeev Kumar</b> <br/>
			(Physics)<br/>
			M.Sc., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Raju Gupta</b> <br/>
			(English)<br/>
			M.A., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Punam Parashar</b><br/>
			(Hindi)<br/>
			M.A., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Krishna Kumar Jha</b> <br/>
			(Sanskrit)<br/>
			M.A., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
		 
		 <tr>
            <td><img src="../../resources/images/logo/logo (1).png" alt="Jane" style="width:50%"/></td>
            <td><b>Sanjeev Kumar</b> <br/>
			(Computer Science)<br/>
			M.C.A., B.Ed., M.Ed<br/>
			Mob.:- +91-9128872344
			</td>
         </tr>
         </tr>
      </table>
	  
	  <tr>		
   <div style = "background-color:"aqua"; clear:both">
      <td colspan = "3" bgcolor = "aqua">
      <center>
      <marquee>
         Contact us @ <b>+91-9128872343</b> Email us <u><b>mukeshk371@gmail.com</b></u>
      </marquee> <br/>
      </center>
     </td>
    </tr>
   </div>
   </body>
 </html>
	
</html>