<html>

<head>
   <title>Transportation Facilities</title>
</head>
   
<table width = "100%" height="10%" border = "10">       
  <tr>
    <td colspan = "2" bgcolor = "#b5dcb3">
       <h1><div style="float:left"><img src="../../resources/images/logo/logo (1).png" width = "100%"></div>

	   <div style="float:right">R. K. S. SR. SEC. SCHOOL, MUZAFFARPUR</div><br/>
       <div style= "float:right" color="red"><tt><i>नास्ति विद्या समं चक्षु नास्ति सत्य समं तप:</i></tt><br/></div>
  
<script type="text/javascript">
    <!--
      function Redirect() {
           window.location="../../index.html";
            }
    //-->
</script>   
<form>
    <input type="button" value="Home" onclick="Redirect();" />
</form>

</h1>
</td>
</tr>
<br/>


<table width = "100%" border = "10">       
  <tr>
    <td colspan = "2" bgcolor = "#b5dcb3">

     <marquee behavior="scroll" direction="left" valign="center" scrollamount="10">
     <center>
     <img src="../../resources/images/transport/transport (1).jpg" width = "600px" height= "300px">
     <img src="../../resources/images/transport/transport (2).jpg" width = "600px" height= "300px">
     <img src="../../resources/images/transport/transport (3).jpg" width = "600px" height= "300px">
     <img src="../../resources/images/transport/transport (4).jpg" width = "600px" height= "300px">
     </center>
     </marquee>
<br/>

<table width = "100%" border = "1">       
   <tr>
     <td colspan = "2" bgcolor = "#b5dcb3">
     <p><b><em><center>
     <h2><span style = "color:red">TRANSPORTATION FACILITY</center>
     </em></b></p>
<br/> 
<hr>
   1. The School provides facilities of transport by bus and van at reasonable rates. <br/>
   2. Withdrawal from conveyance facility must be preceded by a month's notice in Writing or a month's fee in lieu of notice.<br/>
   3. Conveyance-Charge for Vacations will also be charged.<br/>
   4. Buses are also hired on contract basis.<br/>
   5. Buses are running on every routes.<br/>
   6. Sasfety is our first priority.<br/>

<tr>		
   <div style = "background-color:"aqua"; clear:both">
      <td colspan = "3" bgcolor = "aqua">
      <center>
      <marquee>
         Contact us @ <b>+91-9128872343</b> Email us <u><b>mukeshk371@gmail.com</b></u>
      </marquee> <br/>
      </center>
     </td>
    </tr>
   </div>

	</html>