body {
    color: white;
}


.box h1 {
	color: #F36D21;
}


h1 {
    color: #00008B;
	text-align: center;
}

h3 {
    color:black;
	text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width:620px) {
	li, {
		width: 100%;
		float: center;
	}


	.navbar a {
		width: 100%;
		float: center;
	}


	.box, .box, {
		width: 100%;
		float: center;
	}
}