      h1{
	  color:blue;
	  font-size:33px;
	  font-family:comic sans ms;}
      
      h2{
	  color:green;
	  font-size:25px;
	  font-family:comic sans ms;}
       
      h3{
          color:red;
          font-size:25px;
	      font-family:comic sans ms;}

      span{
	  color:red;
	  font-size:20px;
	  font-family:comic sans ms;}