<html>

   <head>
      <title>ABOUT US</title>
	  
	  <link rel="stylesheet" type="text/css" href="../../resources/css/about.css">
   
   </head>

   <body>
      <table width = "100%" height="10%" border = "10">       
<tr>
<td colspan = "2" bgcolor = "#b5dcb3">
 <h1><div style="float:left"><img src="../../resources/images/logo/logo (1).png" width = "100%"></div>
     <div style="float:right">R. K. S. SR. SEC. SCHOOL, MUZAFFARPUR</div><br/>
 <br/>
         <tr valign = "top">
            
            
            <td bgcolor = "#eee" width = "100%" height = "10">
               <center><b>Welcome To R. K. S. Senior Secondary School</b></center>
<p>			   
Education devoid of human values is worthless and it is. Therefore, our sincere effort to inculcate in students the treats of good human beings and turn out true gentlemen or ladies of high caliber and character imbibed with all the virtues of head and heart. We are of the view “ A good institution gains recognition through the qualities imbibed by its students and not from its infrastructure.”
A very tough time awaits our youth when they move out to enter upon a public life. Only those who have iron determination can achieve success and face the challenges of future boldly. In this age of cut-throat completion, there is no room for shirkers. Opportunities keep knocking at the doors of everyone.
Only the bold with positive attitude and sustained effort are able to grab them. So to be ahead of the lakhs appearing in a competition, they have to be mentally and physically tough and need to have dagged determination with capacity for hard work. Let us remember “god helps those who help themselves.”
</p> 
 </td>
        </tr>
		 <tr>
		 <div style = "background-color:"aqua"; clear:both">
		 <td colspan = "3" bgcolor = "aqua">
		 <center>
		 <marquee>
		 Contact us @ <b>+91-9128872343</b> Email us <u><b>mukeshk371@gmail.com</b></u>
		 </marquee> <br/>
</center>
</td>
</tr>
</div>
</html>